body {
    display: flex;
    flex-flow: column wrap;
}

header {
    height: 75px;
}

aside {
    height: 150px;
}

#two>div {
    height: 125px;
}

#four {
    display: flex;
    flex-flow: row wrap;
}

#four>div {
    height: 250px;
    width: 50%;
}

footer {
    height: 80px;
}

p {
    position: relative;
    top: 45%;
}

@media(min-width: 768px) {
    body {
        flex-flow: row wrap;
    }
    header {
        height: 100px;
        flex: 1 100%;
    }
    aside {
        height: 600px;
        flex: 1;
    }
    main {
        flex: 4;
    }
    #two,
    #four {
        display: flex;
    }
    #two>div {
        height: 200px;
        flex: 1;
    }
    #four>div {
        height: 250px;
        flex: 1;
    }
    footer {
        height: 150px;
    }
}