header {
    height: 75px;
}

aside {
    height: 150px;
}

#two>div {
    height: 125px;
}

#four>div {
    height: 250px;
    width: 50%;
    float: left;
}

footer {
    height: 80px;
    clear: both;
}